*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 800px;
}

#root{
    display: flex;
    justify-content: center;
}

.post{
    display: flex;
    padding: 15px;
    border: 2px solid green;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}