/* .GPS-top {
    padding: 163px 18px 1600px 82px;
} */

/* .picture{
    position: absolute;
width: 1920px;
height: 738px;
left: 1922px;
top: 160px;
background-image: url(/figma1/img/image\ 1.png);
background: linear-gradient(257.35deg, rgba(45, 35, 72, 0.4) 3.59%, rgba(27, 20, 46, 0) 81.68%), url(image.png);
transform: matrix(-1, 0, 0, 1, 0, 0);
} */

.picture-left{
    color: white;
    background-image: url(/figma1/img/image\ 1.png);
    position: absolute;
    width: 655px;
    height: 411px;
    left: 160px;
    top: 250px;
}

.yellow{
    color: yellow;
}

.picture-right{
    position: absolute;
    width: 890px;
    height: 461px;
    left: 863px;
    top: 216px;
    background-color: #FFC633;
}

.picture-right p {
    color: white;
}

.second-middle div{
    justify-content: space-around;
    flex-wrap: wrap;
}
